/* Bouton principal */
.button-principal {
    background-color: #FF0080; /* Actif */
    color: #2BFAFA;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-principal:hover {
    background-color: #550033; /* Hover */
}

.button-principal:disabled {
    background-color: #E0E0E0; /* Disabled */
    color: #000000;
    cursor: not-allowed;
}

.button-principal:focus {
    background-color: #FF0080; /* Focus */
    outline: 2px solid #2BFAFA;
}

/* Bouton secondaire */
.button-secondaire {
    background-color: #51CA59; /* Actif */
    color: #2BFAFA;
}

.button-secondaire:hover {
    background-color: #356638; /* Hover */
}

.button-secondaire:disabled {
    background-color: #E0E0E0; /* Disabled */
    color: #000000;
}

.button-secondaire:focus {
    background-color: #51CA59; /* Focus */
    outline: 2px solid #2BFAFA;
}

/* Bouton success */
.button-success {
    background-color: #FFE609; /* Actif */
    color: #FFFFFF;
}

.button-success:hover {
    background-color: #CACC57; /* Hover */
}

.button-success:disabled {
    background-color: #E0E0E0; /* Disabled */
    color: #000000;
}

.button-success:focus {
    background-color: #FFE609; /* Focus */
    outline: 2px solid #FFFFFF;
}

/* Bouton suppression */
.button-suppression {
    background-color: #FF0505; /* Actif */
    color: #2BFAFA;
}

.button-suppression:hover {
    background-color: #AB0F0F; /* Hover */
}

.button-suppression:disabled {
    background-color: #E0E0E0; /* Disabled */
    color: #000000;
}

.button-suppression:focus {
    background-color: #FF0505; /* Focus */
    outline: 2px solid #2BFAFA;
}
